<h1>Todos</h1>
<div class="btn-group" role="group" aria-label="Todo actions">
  <%= link_to "Add Todo", new_todo_path, class: "btn btn-outline-primary" %>
</div>
<% if @todos.empty? %>
  <p>No todos found.</p>
<% else %>
  <ul class="list-group list-group-flush">
    <% @todos.each do |todo| %>
      <li class="list-group-item d-flex justify-content-between align-items-center py-3">
        <div>
          <h5 class="mb-0"><%= link_to todo.title, todo_path(todo) %></h5>
        </div>

        <div>
          <%= link_to "Edit", edit_todo_path(todo), aria: { label: "Edit #{todo.title}" } %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
