<h1>Todos</h1>
<% if @todos.empty? %>
  <p>No todos found.</p>
<% else %>
<ul class="list-group">
  <% @todos.each do |todo| %>
    <li class="list-group-item">
      <h2><%= link_to todo.title, todo_path(todo) %></h2>
      <%= link_to "Edit", edit_todo_path(todo), aria: { label: "Edit #{todo.title}" } %>
    </li>
  <% end %>
</ul>
<% end %>
