<!-- TODO: List all todos with links to view and edit each one -->
<ul>
    <% @todos.each do |todo| %>
        <li>
            <h2><%= link_to todo.title, todo_path(todo) %></h2>
            <%= link_to "Edit", edit_todo_path(todo) %>
        </li>
    <% end %>
</ul>